* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper {
    width: 20%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: grey;
    width: 300px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.taskbtn{
    width: 100px;
    height: 20px;
    margin: 0 auto;
}
.sortbtn{
    width: 100px;
    height: 20px;
    margin: 0 auto;

}

.title {
    display: block;
    margin: 0 auto;
    width: 150px;
}
.text{
    display: block;
    margin: 0 auto;
    width: 150px;
    resize: none;

}
.taskinput {
    width: 150px;
}
.block {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    background: indigo;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
}

.selected {
    background: coral;
}