.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.box{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 15px;
}

.newcardbtn{
    margin: 0 auto;
    display: block;
}

.modalblock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    height: 200px;
    background: grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modalblock input{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.modalblock textarea{
    width: 80%;
    resize: none;
    margin: 0 auto;

}
