tr td{
    border: 1px solid black;
    height: 20px;
    width: 20px;
}
.userpoint{
    background-color: chartreuse;
}
.computerpoint{
    background-color: crimson;
}
.play {
    background-color: darkblue;
}