* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
}
.table-prices {
    margin: 0 auto;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 31px solid #3a4965;
    border-left: 22px solid #3a4965;
  
} 

.gradient {
    background:linear-gradient(to right, rgba(0,0,0,0.10) 0%, transparent 3px) ;
}
.table-body:nth-child(2) td {
    background:linear-gradient(to right, rgba(0,0,0,0.10) 0%, transparent 3px) ;
}
.table-body:nth-child(4) td {
    background:linear-gradient(to right, rgba(0,0,0,0.10) 0%, transparent 3px) ;
}
.standart, .ultimate, .premium {
    padding: 27px 72px 25px 73px;
    color: #fff;
}
.pricing-plan{
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: center;
}
.choose-plan {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
}
.standart {
    background-color: #89c331;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
}
.ultimate {
    background-color: #f04a56;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: center;
}
.premium {
    background-color: #20807c;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
}
.choose-plan {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.56;
    text-align: center;
    padding: 54px 88px 0 88px;
}
.price-position {
    padding: 18px 0 18px 33px;
}
.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
}
.price::after {
    content: ".99";
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    position: absolute;
    top: 7px;
}
.per-month {
    font-size: 18px;
    line-height: 1.56;
}
.table-body {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    background-color: #f2f2f2;
}
.table-body tr:nth-child(even)
{
    background-color: #e3e3e3;

}
.table-body td {
    padding: 30px 0 28px 0;
}

.cell-contact-us {
    padding: 31px 0;
    background-color: rgb( 213,213,213);
}
.buttons {
    text-align: center;
}
.button-contact-us, .button-buy-now-1, .button-buy-now-2 , .button-buy-now-3 {
    padding: 19px 57px 17px 58px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.button-contact-us {
    background-color: #484848;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.button-contact-us:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #404040;
}
.button-buy-now-1 {
    background-color: #89c331;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    overflow: hidden;

}
.button-buy-now-1:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #79b027;
}
.button-buy-now-2 {
    background-color: #f04a56;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    overflow: hidden;

}
.button-buy-now-2:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background:#df3a46;
}
.button-buy-now-3 {
    background-color: #20807c;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    overflow: hidden;

}
.button-buy-now-3:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #16736f;
}
.button-contact-us:hover {
    background-color: #404040;
}
.button-buy-now-1:hover {
    background-color: #79b027;
}
.button-buy-now-2:hover{
    background-color:#df3a46;
}
.button-buy-now-3:hover{
    background-color: #16736f;
}
