@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import'./menu.scss';
@import './mixins';
@import'./vars';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .intro-img {
      height: 150px;
      margin-top: 46px;
  }
  .title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4E4E;
    margin: 38px 0 23px 0;
  }
.cards {
    @include flexcolumn
}

.post {
    margin-bottom: 30px;
    font-family: $font-family;

}

.cards-description{
    display: none;
}
.post-title {
    margin-top: 11px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
}
.post-links a {
    text-decoration: none;
    color: #7C7C7C;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;  
}
.footer {
    @include flexcolumn;
      background-color: black;
      margin: 0 auto;

    &__social {
        margin-top: 26px;
        display: flex;
        justify-content: center;
        & a {
            text-decoration: none;
        }
        & a:last-child {
            margin-right: 0;
        }
    }
    &__title {
        font-family: $font-family;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #FEFEFE;
        text-transform: uppercase;
        text-align: center;
        padding: 38px 0 8px 0;

    }

    &__description {
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
        text-align: center;
        align-items: center;
        padding: 8px 35px 26px 35px;

    }
    &__contacts-block {
        padding-top: 23px;
        @include flexcolumn;
        margin-bottom: 47px;
    }
    &__contacts {
        display: block;
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
        text-align: center;
        padding-left: 10px;

    }
    &__additional {
        display: none;
    }
}


.icon-rss {
    @include footer-icon;
    color:#F8902E;
    border-color: #F8902E;
}
.icon-facebook-sign {
    @include footer-icon;
    color:#39599F;
    border-color: #39599F;
}
.icon-twitter {
    @include footer-icon;
    color:#45B0E3;
    border-color: #45B0E3;
}
.icon-dribbble {
    @include footer-icon;
    color:#D97AB0;
    border-color: #D97AB0;
}
.icon-pinterest {
    @include footer-icon;
    color:#CC212C;
    border-color: #CC212C;
}
@media(min-width: 768px) {
    .header{
        justify-content: space-around;
    }
    .intro-img{
        width: 100%;
        height: 361px;
        margin: 0;
    }
    .wrapper{
      width: 768px;
      margin: 0 auto;  
    }
    .cards-description{
    display: unset;
    color: #5C5C5C;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    }
    .post{
        display: flex;
    }

    .post-text {
        margin-left: 20px;
        display: unset;
        width: 404px;
    }
    .footer {
        &__social {
            margin: 37px auto 34px auto;
        }
        &__description {
            margin: 0 auto;
            width: 684px;
        }

        &__additional {
        display: unset;
        }
        &__contacts-block {
        padding-top: 23px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    }
}  
@media(min-width:1200px){
    .intro-img{
        width: 100%;
        height: 550px;
        margin: 0;
    }
    .wrapper {
        width: 1200px;

    }
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .post {
        width: 45%;
    }
    
    .footer {
        &__social {
            margin: 48px auto 45px auto;
        }
    }
}