.modal {
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
    

    &__first-modal{
        background:turquoise;      
    }
    &__second-modal {
        background: rgb(184, 10, 10);
        color: white;
    }
    &__closebtn{
       position: absolute;
       top: 5px;
       right: 5px;
    }
    &__header{
        &--second-modal{
            background:red;
            color: white;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
    &__footer button {
        width: 100px;
        padding: 10px;
        
        border: none;
    }

}
.overlay {
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.5);
    z-index:-2;
  }
  

