.forma{
    border: 2px solid  #727473;
    box-shadow: 10px 10px 5px 0px rgba(158,147,158,1);
    border-radius: 15px;
    margin-bottom: 20px;


    

    display: flex;
    flex-direction: column;
    width: 500px;

}
.forma-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orderbtn{
    width: 100px;
    margin: 0 auto;
    margin-top:10px;
    color: #44a8f2;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}
.input{
    width: 70%;
    margin:0 auto;
    
}
.label{
    margin-top:10px;
    margin-bottom: 10px;
    color: #44a8f2;
    font-weight: bold; 
}
.error{
    color:red;
}