.modal {
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: fixed;
    z-index: 2;
    top: 50%;
    left:50%;
    width: 500px;
    transform: translate(-50%);

    

    &__first-modal{
        background: white;
        color: #44a8f2;
    }
    &__second-modal {
        background: rgb(184, 10, 10);
        color: white;
    }
    &__close{
        background: whitesmoke;
        border: none;
        color: #44a8f2;
    }
    &__closebtn{
       position: absolute;
       top: 5px;
       right: 5px;
    }
    &__header{
        &--first-modal{
            background: whitesmoke;
        }
        &--second-modal{
            background:red;
            color: #44a8f2;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
    &__footer button {
        width: 100px;
        padding: 10px;
        
        border: none;
    }

}
.overlay {
    top:0;
    left:0;
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.5);
    z-index:1;
  }
  

