.card {
    border: 2px solid  #727473;
    width: 590px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:white;
    box-shadow: 10px 10px 5px 0px rgba(158,147,158,1);
    color: grey;
    overflow: hidden;

    &__image{
        width: 260px;
        padding: 15px;
    }
    &__description{
        padding: 15px;
       display: flex;
       flex-direction: column;
       text-align: left;

        
       &--star{
           text-align: right;
           color: goldenrod;
       }
       &--name{
           color: black;
       }
       &--color{
           color: black;
           font-weight: bold;
        }
       &--descriptionproduct{
       }
       &--price{
        color: #44a8f2;
        font-weight: bold; 
    }
    }
}
.ololo{
    width: 50px;
    height: 50px;
}