

.header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: white;
    margin-bottom: 50px;

    

    &__logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        &__logotip{
            display: flex;
            width: 60%;
            justify-content: flex-end;
        }
        &__favcart{
            display: flex;
            justify-content: flex-end;
            width: 40%;
            font-weight: bold;

            &__fav{
                margin: 14px;
                color: #727473;
                text-decoration: underline;

            }
            &__fav:hover {
                color: #44a8f2;
                font-weight: bold;
            }
        }

    }
    &__menu{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 20px;
        color: #727473;
        font-weight: 600;

        &--items{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        &--link:hover{
            color: #44a8f2;
            font-weight: bold;
        }
    }
  }